nav  {
    display: flex;
    
    justify-content: flex-end;
    
}
nav a, nav div{
    margin-right: 10px;
    margin-top: 30px;
    text-decoration: none;
    color: gray;
}
#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 20px;
}
input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 300px;
    padding-top: 20px;
}
#boutton {
    display: flex;
    justify-content: center;
}
.boutton2 {
    margin-left: 25px;
    margin-top: 25px;
    background: rgb(219, 219, 219);
    padding: 10px;
}
p {
    display: flex;
    justify-content: flex-start;
    background: rgb(219, 219, 219);
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    padding-right: 20px ;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    color:  gray;
}
ul {
    display: flex;
    list-style-type: none;
    background: rgb(219, 219, 219);
    margin: 0;
    padding: auto;
}
#ul1 {
    float: left;
    background: rgb(219, 219, 219);
    padding: 10px;
    padding-left: 20px;
}
#ul2 {
    float: right;
    background: rgb(219, 219, 219);
    padding: 10px
}
ul *{
    background: rgb(219, 219, 219);
    margin: 0;
    padding-right: 10px;
    color: gray;
    text-decoration: none;
    
}
footer {
    background: rgb(219, 219, 219);
    height: 45px;
    margin: 0;
}
body{
    margin: 0;
}
.bout {
    color: white;
    background-color: #4683ea;
    margin-right: 10px;
    margin-top: 30px;
    text-decoration: none;
    padding: 3px ;
}

button.bout a{
    color: white;
    padding-left: 3px;
}